/* Importation du font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

/* Style du Logo */
.app {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(252, 174, 97);
  font-weight: bold;
  line-height: 2.75;
}
.lab {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 2.75;
}
.lab-footer {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.75;
}
/* Style des liens navbar */
li {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  line-height: 2.75;
}

#tryforfreebtn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(37, 0, 249);
  text-decoration: none;
  border-radius: 2.5rem;
  width: 170px;
  height: 57px;
  font-weight: bold;
  line-height: 2.75;
}

#annually {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: gray;
  background-color: transparent;
  border-radius: 2.5rem;
  border: solid 2px gray;
  width: 300px;
  height: 75px;
  font-weight: bold;
  line-height: 2.75;
}
.cercle {
  background-color: rgb(254, 170, 37);
  border-radius: 50%;
  left: 285px;
  top: 396px;
  width: 39px;
  height: 35px;
}
.ovale {
  background-color: rgb(226, 234, 237);
  border-radius: 17px;
  left: 285px;
  top: 396px;
  width: 362px;
  height: 35px;
}
.bigparag {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 1.25;
}
.smallparag {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: rgb(97, 99, 104);
  line-height: 1.556;
}
.Watch_demo_video {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(37, 0, 249);
  line-height: 2.75;
}
#sizecomp {
  height: 3rem;
  width: auto;
}
.Trusted_by_companies_like {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  line-height: 1.75;
}
.Awesome_apps_features {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 1.278;
}
#Fast_Performance {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(245, 87, 103);
  font-weight: bold;
  line-height: 2.9;
}
#Prototyping {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(37, 99, 255);
  font-weight: bold;
  line-height: 2.9;
}
#Vector_Editing {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(64, 151, 95);
  font-weight: bold;
  line-height: 2.9;
}
.Smart_jackpots_that_you_may_love_this_anytime__ {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 1.25;
}

.The_rise_of_mobile_devices_transforms_the_way_w {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: rgb(97, 99, 104);
  line-height: 1.625;
}
.App_Development {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 2.9;
  text-align: center;
}
.User_friendly___Customizable {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 2.9;
}
.Zoltan_Nemeth {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
  line-height: 3.222;
}
.Collapse {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: rgb(36, 47, 81);
  font-weight: bold;
}
.Footer {
  background-color: rgb(9, 20, 46);
  height: 567px;
}
.lien {
  font-size: 15px;
  color: gray;
  font-family: "Poppins", sans-serif;
}
.lien:hover {
  color: white;
}
#grey {
  color: gray;
}
#grey:hover {
  color: white;
}
.copyright {
  font-size: 14px;
  line-height: 44px;
  color: grey;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.dollar {
  font-size: 60px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.month {
  font-size: 18px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.pm-bc {
  font-size: 20px;
  line-height: 28px;
  color: #242f51;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.for {
  font-size: 16px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.bg-card {
  background-color: #ffffff;
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #f4f4f7 50%,
    #e9e9e9 100%
  );
}
.round-rectangle {
  border-radius: 2.5rem;
  border: solid 2px gray;
  height: 72px;
  width: 15rem;
}
